@import url(../fonts/manrope/manrope.css);
@import url(../fonts/cormorant/cormorant.css);
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html, body {
    background: #faf5f5;
    font-family: "manrope";
    letter-spacing: 0.04em;
    color: #000;
}


@media screen and (min-width:1200px) {
    html, body {
        max-width: 1920px;
    }
    
    header {
        max-width: 856px;
        height: 80px;
        margin: 0 auto;
        font-size: 1.25em;
        margin-bottom: 2em;
        border-bottom: 2px solid #000;
    }
    
    .content {
        max-width: 1296px;
        margin: 0 auto;
    }
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: #000;
        padding: 1em 2em;
        white-space: nowrap;
    }
    
    .header__bar {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        margin: 0.5em 0;
        flex-wrap: nowrap;
    }

    .info__stylist {
        display: grid;
        justify-content: center;
        grid-template-areas: "profession profession"
                            "name name" 
                            "img location";
        grid-template-columns: auto 1.5em;
        justify-items: center;
        align-items: center;
        margin-bottom: 1.5em;
    }

    h1 {
        grid-area: name;
        text-align: center;
        font-family: 'cormorant';
        font-weight: 600;
        font-style: italic;
        font-size: 5em;
        text-transform: uppercase;
        margin-bottom: 0.1em;
    }

    .stylist__photo {
        grid-area: img;
        display: block;
        width: 32em;
    }

    p {
        font-size: 1.25em;
    }

    .profession {
        grid-area: profession;
        text-align: right;
        text-transform: uppercase;
    }

    .location {
        grid-area: location;
        transform: rotate(-90deg);
        white-space: nowrap;
        margin: auto 0;
    }

    .main__btn {
        padding: 0.5em;
        display: block;
        margin: 0 auto;
        font-size: 1.25em;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        border: 2px solid #000;
        width: 18em;
        margin-bottom: 1.5em;
    }

    .main__btn:hover{
        background-color: #e3e4e0;
    }

    .paragraph {
        border-top: 2px solid #000;
        padding: 0.5em;
        text-align: center;
        font-family: 'cormorant';
        font-weight: 400;
        font-style: italic;
        font-size: 3em;
        text-transform: uppercase;
        margin-bottom: 0.1em;
    }

    .about_me, .contacts__info {
        display: block;
        margin: 0 auto;
        max-width: 856px;
        margin-bottom: 1em;
    }

    .introduction, .benefits__description {
        line-height: 2em;
        font-size: 1.25em;
    }

    .blockquote {
        position: relative;
        display: block;
        padding: 1.5em;
        max-width: 640px;
        margin: 3em auto;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
    }

    .quote {
        font-size: 1.75em;
    }

    .quote, .author{
        padding: 0 1em;
        font-family: 'cormorant';
        font-style: italic;
    }

    .blockquote::after {
        font-family: 'cormorant';
        font-style: italic;
        position: absolute;
        content: "”";
        color: #000;
        font-size: 10em;
        line-height: 0.7em;
        right: 0.4em;
    }

    .blockquote h4 {
        position: relative;
        color: #000;
        font-size: 1.5em;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding-top: 20px;
        z-index: 1;
    }

    .benefits__description{
        padding-top: 1em;
        grid-area: description;
    }
    
    .benefits {
        display: grid;
        margin: 1.5em auto 3em auto;
        max-width: 856px;
        justify-content: center;
        grid-template-areas: "photo description"
                            "photo list";
        justify-items: start;
        align-items: start;
        gap: 1.5em;
    }

    .benefits__list {
        grid-area: list;
        margin-left: 1em;
        font-size: 1.25em;
        margin-top: 0.5em;
        line-height: 1.7em;
    }

    .benefits__item {
        position: relative;
        margin-bottom: 0.5em;
    }

    .benefits__photo {
        grid-area: photo;
        margin: auto 0;
        width: 400px;
    }

    .services {
        max-width: 896px;
        margin: 0 auto;
    }

    .spoiler-details {
        border: 2px solid #000;
        border-radius: 5px;
        padding: 1rem;
        margin: 0 0 1.5rem 0;
        max-width: 100%;
        min-width: 300px;
    }

    .spoiler-details summary {
        font-size: 1.5em;
        font-family: 'cormorant';
        text-transform: uppercase;
        cursor: pointer;
        font-weight: bold;
        list-style: none;
    }
    
    .spoiler-details[open] .service__title {
        padding-bottom: 1rem;
        border-bottom: 2px solid #000;
    }

    .service__characteristic, .service__purpose {
        position: relative;
        margin: 1.5rem 1.25rem 0 1.25rem;
        font-size: 1.25em;
        font-weight: 550;
        z-index: 1;
    }

    .service__characteristic::before{
        content:" ";
        background-color: #e3e4e095;
        display: block;
        position: absolute;
        z-index: -1;
        width: 100%;
        height: 100%;
    }

    .service__purpose {
        margin: 0.5rem 1rem 0 1.75rem;
        list-style-type: '—  ';
        font-weight: normal;
    }

    .service__description {
        margin: 1rem 0;
        line-height: 2rem;
    }

    .service__options .service__subtitle {
        text-transform: capitalize;
        border-bottom: none;
        margin: 1.5rem 0 1.5rem 1.5rem;
    }

    .service__options[open] {
        padding-bottom: 1.25rem;
        border-bottom: 2px solid #000;
    }

    ol li {
        margin: 0.75rem 1rem 0 1.5rem;
        font-size: 1.25em;
        line-height: 2rem;
    }

    .contacts__textlink {
        padding: 0;
        font-weight: 550;
        text-decoration: underline #000 2px;
    }
}

/*! MOBILE VERSION*/
@media screen and (min-width:320px) and (max-width:1200px) {
    html, body {
        min-width: 320px;
    }
    
    header {
        min-width: 280px;
        height: 52px;
        margin: 0 auto;
        font-size: 0.9em;
        margin-bottom: 1em;
        border-bottom: 2px solid #000;
    }
    
    .content {
        max-width: 280px;
        margin: 0 auto;
    }
    
    a {
        text-decoration: none;
        cursor: pointer;
        color: #000;
        padding: 0.7em 1em;
        white-space: nowrap;
    }
    
    .header__bar {
        display: flex;
        justify-content: space-evenly;
        justify-items: center;
        align-items: center;
        margin: 1em 0;
        text-transform: uppercase;
        flex-wrap: nowrap;
    }

    .info__stylist {
        display: grid;
        justify-content: center;
        grid-template-areas: "profession profession"
                            "name name" 
                            "img location";
        grid-template-columns: auto 1.5em;
        justify-items: center;
        align-items: center;
        margin-bottom: 1em;
    }

    h1 {
        grid-area: name;
        font-family: 'cormorant';
        font-weight: 600;
        font-style: italic;
        font-size: 2em;
        text-align: center;
        margin-bottom: 0.5em;
        text-transform: uppercase;
    }

    .stylist__photo {
        grid-area: img;
        display: block;
        width: 14em;
    }

    p {
        font-size: 0.7em;
    }

    .profession {
        grid-area: profession;
        text-align: right;
    }

    .location {
        grid-area: location;
        transform: rotate(-90deg);
        white-space: nowrap;
        margin: auto 0;
    }

    .main__btn {
        padding: 0.5em;
        display: block;
        margin: 0 auto;
        font-size: 1em;
        font-weight: 400;
        white-space: nowrap;
        text-align: center;
        border: 2px solid #000;
        width: 15em;
        margin-bottom: 1.5em;
    }

    .paragraph {
        border-top: 2px solid #000;
        padding: 0.5em;
        text-align: center;
        font-family: 'cormorant';
        font-weight: 400;
        font-style: italic;
        font-size: 1.5em;
        text-transform: uppercase;
        margin-bottom: 0.1em;
    }

    .about_me {
        display: block;
        margin: 0 auto;
        max-width: 280px;
    }

    .introduction {
        line-height: 2em;
        font-size: 0.7em;
    }

    .blockquote {
        position: relative;
        display: block;
        padding: 1em;
        margin: 1em auto;
        border-top: solid 1px #000;
        border-bottom: solid 1px #000;
    }

    .quote {
        font-size: 1em;
    }

    .quote, .author{
        padding: 0 0.4em;
        font-family: 'cormorant';
        font-style: italic;
    }

    .blockquote::after {
        font-family: 'cormorant';
        font-style: italic;
        position: absolute;
        content: "”";
        color: #000;
        font-size: 6em;
        line-height: 0.7em;
        right: 0.4em;
    }

    .blockquote h4 {
        position: relative;
        color: #000;
        font-size: 1em;
        font-weight: normal;
        line-height: 1;
        margin: 0;
        padding-top: 8px;
        z-index: 1;
    }

    .benefits__description{
        padding-top: 1em;
        grid-area: description;
    }
    
    .benefits {
        display: grid;
        margin: 1em auto;
        max-width: 280px;
        justify-content: center;
        grid-template-areas: "photo photo"
                            "description description"
                            "list list";
        justify-items: start;
        align-items: start;
        gap: 0.5em;
    }

    .benefits__list {
        grid-area: list;
        margin-left: 1em;
        font-size: 0.7em;
        margin-top: 0.5em;
        line-height: 1.2em;
    }

    .benefits__item {
        position: relative;
        margin-bottom: 0.5em;
    }

    .benefits__photo {
        grid-area: photo;
        margin: 0 auto;
        width: 200px;
    }

    .services {
        max-width: 280px;
        margin: 0 auto;
    }
}
